################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/hw3/.vs/xll_hw3/v17
/hw3/x64/Debug
